In [ ]:
# http://localhost:8888/notebooks/Documents/Study/Ironhack/Code_alone/W20/20.2.3.KerasCNN.ipynb
# http://localhost:8888/notebooks/Documents/Study/Ironhack/Code_alone/W20/20.3.1.Spacy.ipynb
# http://localhost:8888/notebooks/Documents/Study/Ironhack/Code_alone/W20/20.3.2.TextClassification.ipynb

In [1]:
import pandas as pd
import numpy as np

In [7]:
pd_memes_test = pd.read_json('../data/test.jsonl', lines=True)
pd_memes_test.head()

      id            img                                         text
0  16395  img/16395.png                     handjobs sold seperately
1  37405  img/37405.png         introducing fidget spinner for women
2  94180  img/94180.png  happy pride month let's go beat up lesbians
3  54321  img/54321.png       laughs in [majority of u.s crime rate]
4  97015  img/97015.png       finds out those 72 virgins.. are goats

In [8]:
pd_memes_train = pd.read_json('../data/train.jsonl', lines=True)
pd_memes_train.head()

,id,img,label,text
0,42953,img/42953.png,0,its their character not their color that matters
1,23058,img/23058.png,0,don't be afraid to love again everyone is not ...
2,13894,img/13894.png,0,putting bows on your pet
3,37408,img/37408.png,0,i love everything and everybody! except for sq...
4,82403,img/82403.png,0,"everybody loves chocolate chip cookies, even h..."

In [10]:
pd_memes_dev = pd.read_json('../data/dev.jsonl', lines=True)
pd_memes_dev.head()

,id,img,label,text
0,8291,img/08291.png,1,white people is this a shooting range
1,46971,img/46971.png,1,bravery at its finest
2,3745,img/03745.png,1,your order comes to $37.50 and your white priv...
3,83745,img/83745.png,1,it is time.. to send these parasites back to t...
4,80243,img/80243.png,1,mississippi wind chime

In [13]:
pd_memes_train.label.value_counts()

0    5450
1    3050
Name: label, dtype: int64

In [12]:
pd_memes_dev.label.value_counts()

1    250
0    250
Name: label, dtype: int64

In [ ]:
pd_memes_dev